doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        title Bradley's ePortfolio
        // Bootstrap
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(href='../css/bootstrap/bootstrap.min.css', rel='stylesheet')
        link(href='../css/main/normalize.css', rel='stylesheet')
        link(href='../css/main/main.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body.font.font-color
        nav#navbar.navbar.navbar-default.navbar-fixed-top
            .container-fluid.nav-wrapper
                // Brand and toggle get grouped for better mobile display
                //.collapse.navbar-collapse.nav-items-wrapper
                ul.nav.navbar-nav.navbar-right.font-color.collapse.navbar-collapse
                    li.active: a.page-scroll(href='#about-section') About Me
                    li: a.page-scroll(href='#work-experience') Work Experience
                    li: a.page-scroll(href='#') Personal Projects
                    li: a.page-scroll(href='#') School Projects
                    li: a.page-scroll(href='#') Contact Me
                    li: a.page-scroll(href='#footer') Share
                    li: a.page-scroll(href='mailto:bap0031@auburn.edu') Email Me
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.brand(href='#') Bradley Probert
                // Collect the nav links, forms, and other content for toggling
                // /.navbar-collapse
            // /.container-fluid
        header.text-center.img-responsive
            .intro-text
                #header-text.on-image
                    h3 my eportfolio
                    p a showcase of my experince and development work
        // About Section
        #about-section
            .container
                .row
                    .section-title.text-center.center.wobble.fadeInDown
                        h2 About
                        hr
                .row.wow.fadeInDown(data-wow-delay='200ms')
                    .col-md-6
                        img.img-rounded.img-responsive.center-block(src='https://auburn.instructure.com/eportfolios/16326/entries/85046/files/uEhh2c3VOVSrru3heM6fwjqmIc8tzZKWcSeOVNBq')
                    .col-md-6
                        .about-text
                            h3
                                span.color Portfolio Description
                            p My portfolio is organized into three sections to describe my work experience, personal projects, and school projects.
                            h3
                                span.color Portfolio Organization
                            p
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='../js/bootstrap/bootstrap.min.js')
        script(src='../js/main/main.js')
